.header__logo {
    background-image: url(../../../images/logo/logo.svg);
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}